/*Style Home*/
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background-color: #c2dec2;
    
}
.Nav {
    
    background-color: #003300; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    display: flex;
    justify-content: space-between; /* Membuat elemen berada di sebelah kanan dan kiri */
    align-items: center; /* Pusatkan vertikal */
    height: 80px;
    width: 100%;
    position:absolute;
    top: 0;
    position: fixed;
    z-index: 999;
}
.Nav h2{
    font-size: 36px;
}
/* Style logo */
.logo h2 {
    margin: 0; /* Hilangkan margin default */
    margin-left: 100px;
}
.logouin{
    display: inline-block; /* Ubah gambar menjadi elemen blok */
    margin:  auto; /* Pusatkan gambar horizontal */
    max-width: 10%; /* Lebar maksimum gambar */
    max-height:10%; /* Tinggi maksimum gambar */
    height: auto; /* Tinggi otomatis */
    border-radius: 10%; /* Mengubah bentuk gambar menjadi bulat */
    overflow: hidden; /* Memastikan gambar tetap dalam bentuk bulat */
    border: 3px solid #3b935e;
    position: fixed; /* Atur posisi absolut */
    top: 0px; /* Sesuaikan posisi dari atas */
    left: 20px; /* Sesuaikan posisi dari kiri */
    z-index: 1000;
}

.Nav ul {
    list-style-type: none; /* Hapus tanda daftar */
    margin-right: 50px;
    background: transparent;
}
.Nav ul li {
    display: inline-block; /* Atur agar tautan berbaris horizontal */
    margin-left: 20px; /* Jarak antar tautan */
    font-size: 20px;
}
.Nav ul li:first-child {
    margin-left: 0; /* Hapus margin kiri dari elemen pertama */
}
.Nav ul li a {
    color: #fff; /* Warna teks */
    text-decoration: none; /* Hapus garis bawah pada tautan */
    transition: color 0.3s; /* Efek transisi warna teks saat dihover */
}
.Nav ul li a:hover {
    color: lightskyblue; /* Warna teks saat dihover */
    font-style: italic;
}

body {
    font-family: Arial, sans-serif;
}
.footer {
    background-color: #2f3930; /* Warna latar belakang footer */
    color: #fff; /* Warna teks footer */
    text-align: center; /* Pusatkan teks */
    position: fixed; /* Posisi footer tetap */
    bottom: 0; /* Menempatkan footer di bagian bawah */
    width: 100%; /* Lebar footer 100% dari viewport */
}
.container {
    width: 100%; /* Lebar maksimum kontainer */
    margin: 0 auto; /* Pusatkan kontainer */
}
/*portofolio*/
.Content {
    display: flexb;
    align-items: center;
}

.project1 {
    margin-right: 20px;
    max-width: 100%; /* Menyesuaikan lebar gambar */
}

.Teks {
    margin-top :100px;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.container-project {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 6rem;
}

.container-project > div {
    text-align: center;
    margin: 10px;
}

.container-project img {
    max-width: 100%; /* Atur lebar maksimum gambar */
    height: auto; /* Biarkan tinggi gambar menyesuaikan proporsinya */
    border-radius: 50px;
    border: 2px #000 solid;
}

.container-project p {
    margin-top: 10px;
    font-size: 14px; /* Atur ukuran teks */
}
.project1{
    border-radius: 20px;
    border: 5px #000000 solid;
}