/*Style Home*/
body {
    margin: 0;
    padding: 0;
    font-family: Verdana, sans-serif;
    background-color: #c2dec2;
    
}
.Nav {
    
    background-color: #003300; /* Warna latar belakang */
    color: #fff; /* Warna teks */
    display: flex;
    justify-content: space-between; /* Membuat elemen berada di sebelah kanan dan kiri */
    align-items: center; /* Pusatkan vertikal */
    height: 80px;
    width: 100%;
    position:absolute;
    top: 0;
    position: fixed;
    z-index: 999;
}
.Nav h2{
    font-size: 36px;
}
/* Style logo */
.logo h2 {
    margin: 0; /* Hilangkan margin default */
    margin-left: 100px;
}
.logouin{
    display: inline-block; /* Ubah gambar menjadi elemen blok */
    margin:  auto; /* Pusatkan gambar horizontal */
    max-width: 10%; /* Lebar maksimum gambar */
    max-height:10%; /* Tinggi maksimum gambar */
    height: auto; /* Tinggi otomatis */
    border-radius: 10%; /* Mengubah bentuk gambar menjadi bulat */
    overflow: hidden; /* Memastikan gambar tetap dalam bentuk bulat */
    border: 3px solid #3b935e;
    position: fixed; /* Atur posisi absolut */
    top: 0px; /* Sesuaikan posisi dari atas */
    left: 20px; /* Sesuaikan posisi dari kiri */
    z-index: 1000;
}
.Welcome {
    text-align: center; /* Pusatkan teks */
    margin-top:90px; /* Jarak dari gambar ke teks */
    
}
.Welcome h2 {
    font-size: 36px; /* Ukuran font */
    color: #000; /* Warna teks */
    margin-top: 10px; /* Jarak atas teks */
    margin-bottom: 0; /* Hapus margin bawah */
    font-family: monseraty;
}
.nama h1 {
    text-align: center;
    margin-bottom: 5px; /* Atur margin bawah */
    font-size: 24px; /* Ubah ukuran font */
}
.nama P {
    font-size: 18px; /* Ubah ukuran font */
    font-weight: normal; /* Hapus bold */
    text-align: center;
}
.me {
    display: block; /* Ubah gambar menjadi elemen blok */
    margin:  auto; /* Pusatkan gambar horizontal */
    max-width: 20%; /* Lebar maksimum gambar */
    max-height:20%; /* Tinggi maksimum gambar */
    height: auto; /* Tinggi otomatis */
    border-radius: 10%; /* Mengubah bentuk gambar menjadi bulat */
    overflow: hidden; /* Memastikan gambar tetap dalam bentuk bulat */
    border: 6px solid #017730;
    margin-top: 120px;
}
.Nav ul {
    list-style-type: none; /* Hapus tanda daftar */
    margin-right: 50px;
    background: transparent;
}
.Nav ul li {
    display: inline-block; /* Atur agar tautan berbaris horizontal */
    margin-left: 20px; /* Jarak antar tautan */
    font-size: 20px;
}
.Nav ul li:first-child {
    margin-left: 0; /* Hapus margin kiri dari elemen pertama */
}
.Nav ul li a {
    color: #fff; /* Warna teks */
    text-decoration: none; /* Hapus garis bawah pada tautan */
    transition: color 0.3s; /* Efek transisi warna teks saat dihover */
}
.Nav ul li a:hover {
    color: lightskyblue; /* Warna teks saat dihover */
    font-style: italic;
}
.button {
    text-align: center; /* Pusatkan teks tombol */
    margin-top: 5px; 
    margin-bottom: 40px; /* Jarak antara tombol dengan bagian bawah halaman */
}
.button-link {
    display: inline-block; /* Atur agar tautan menampilkan sebagai blok */
    padding: 10px 20px; /* Padding untuk tautan */
    margin: 5px; /* Jarak antara tautan */
    font-size: 20px; /* Ukuran teks tautan */
    background-color: #003300; /* Warna latar belakang tautan */
    color: #fff; /* Warna teks tautan */
    border-radius: 5px; /* Membuat sudut tautan menjadi melengkung */
    text-decoration: none; /* Hapus dekorasi tautan */
}
/* Warna latar belakang dan teks saat tautan di-hover */
.button-link:hover {
    background-color: #006600; /* Warna latar belakang tautan saat di-hover */
    color: #fff; /* Warna teks tautan saat di-hover */
}
body {
    font-family: Arial, sans-serif;
}
.footer {
    background-color: #2f3930; /* Warna latar belakang footer */
    color: #fff; /* Warna teks footer */
    text-align: center; /* Pusatkan teks */
    position: fixed; /* Posisi footer tetap */
    bottom: 0; /* Menempatkan footer di bagian bawah */
    width: 100%; /* Lebar footer 100% dari viewport */
}
.container {
    width: 100%; /* Lebar maksimum kontainer */
    margin: 0 auto; /* Pusatkan kontainer */
}





